**__pycache__**
*.pyc
**.cache**
cache/
temp/
**/.ipynb_checkpoints/**
log/

scenarios/*/outputs/
scenarios/atlanta/inputs/road/road_links.geojson
scenarios/houston/inputs/road/road_links.geojson
scenarios/dallas/inputs/road/road_links.geojson